<h1 id="building-instructions-for-ubuntu">Building (instructions for Ubuntu)</h1>
<h2 id="core-dependencies">Core Dependencies</h2>
<p>The following core dependencies are needed, and can be installed using the apt package manager:</p>
<p>build-essential<br />
imagemagick<br />
texlive<br />
texlive-latex-extra<br />
libboost-filesystem-dev<br />
libboost-graph-dev<br />
libopencv-dev<br />
libglm-dev<br />
libglfw3-dev<br />
libx11-dev<br />
libxrandr-dev<br />
libxi-dev<br />
libfreetype-dev<br />
libfftw3-dev</p>
<p>Command to install all of them at once:</p>
<pre><code>sudo apt update &amp;&amp; sudo apt install -y \
    build-essential \
    imagemagick \
    texlive \
    texlive-latex-extra \
    libboost-filesystem-dev \
    libboost-graph-dev \
    libopencv-dev \
    libglm-dev \
    libglfw3-dev \
    libx11-dev \
    libxrandr-dev \
    libxi-dev \
    libfreetype-dev \
    libfftw3-dev</code></pre>
<h3 id="cuda">Cuda</h3>
<p>You will need the cuda toolkit installed.</p>
<h3 id="python3-with-numpy">Python3 with numpy, matplotlib, and pandas.
</h3>
<p>You will need python3 with numpy installed order to generate the test tessellations.</p>
<h2 id="compile">Compile</h2>
<p>Running the build_all.sh script will compile everything, including lsrcvt, expressions library, and<br />
the marrus vis system.</p>
<p><code>$./build_all.sh</code></p>
<p>Once lsrcvt and expressions are built, you can build Marrus vis separately for faster compilation.</p>
<pre><code>$cd vis
$./build.sh</code></pre>
<h2 id="test-data-and-tessellation-configuration">Test Data and Tessellation Configuration</h2>
<p>Once downloaded, extract the test data to <code>test_data/test_data_3D</code>.</p>
<p>You can view the lsrcvt configuration files in <code>test_data/test_data_3D/tessellation</code> and<br />
<code>test_data/test_data_3D/tessellation2</code> to see how to configure lsrcvt. And you can view the<br />
example Marrus Vis project configuration files in <code>vis/projects/example</code> to see how the vis<br />
system can be configured.</p>
<h2 id="generate-test-tessellation">Generate Test Tessellation</h2>
<p>If you have downloaded the 3D test data, and placed it in test_data/test_data_3D, then running the<br />
generate_test_tessellations.sh script will compute two example lsrcvt’s and output the<br />
results to <code>test_data/test_data_3D/tessellation</code> and <code>test_data/test_data_3D/tessellation2</code>.</p>
<p><code>./generate_test_tessellations.sh</code></p>
<p>The Marrus Vis example project is configured to load the test data and tessellation in the given<br />
location, so once the test tessellation is generated, you should be ready to test the vis system.</p>
<h2 id="run-vis-system">Run Vis System</h2>
<p>A script to run the vis system is included at the top level directory, and in the vis directory.</p>
<p>From the top level directory:</p>
<p><code>./run_vis_system.sh</code></p>
<p>Or:</p>
<pre><code>cd vis
./run.sh</code></pre>
<p>To load the configuration, open the project tab, then click the open button and select the<br />
configuration file (e.g. <code>vis/projects/example_project/config.js</code>), then click apply.</p>
